<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="integrated security=true;Data Source=(local);Database=sample_core" />
  <add name="master" connectionString="integrate security=true;Data Source=(local);Database=sample_master" />
  <add name="web" connectionString="integrated security=true;Data Source=(local);Database=sample_web" />
</connectionStrings>